{% load static %}
<div id="{{ viewer_id }}"></div>
<script data-viewer-id="{{ viewer_id }}" data-notes="{{ notes }}" id="script-{{ viewer_id }}">
    ABCJS.renderAbc(
        document.currentScript.dataset.viewerId,
        document.currentScript.dataset.notes, {
            scale: 1,
            add_classes: true,
            paddingleft: 0,
            paddingright: 0,
            paddingbottom: 0,
            paddingtop: 0,
            viewportHorizontal: true,
            scrollHorizontal: true,
            staffwidth: 381,
            wrap: {
                minSpacing: 1.4,
                maxSpacing: 2.7,
                preferredMeasuresPerLine: 2,
            },
            responsive: "resize",
        },
    );
</script>
{# vim: se ft=htmldjango : #}
