{% load static %}
<div id="{{ viewer_id }}" class="w-full min-w-0"></div>
<script data-viewer-id="{{ viewer_id }}" data-notes="{{ notes }}" id="script-{{ viewer_id }}" data-width="{% if width %}{{ width }}{% else %}540{% endif %}">
    ABCJS.renderAbc(
        document.currentScript.dataset.viewerId,
        document.currentScript.dataset.notes, {
            scale: 1,
            add_classes: true,
            paddingleft: 0,
            paddingright: 0,
            paddingbottom: 0,
            paddingtop: 0,
            viewportHorizontal: true,
            scrollHorizontal: true,
            staffwidth: document.currentScript.dataset.width,
            wrap: {
                minSpacing: 1.4,
                maxSpacing: 2.7,
                preferredMeasuresPerLine: 4,
            },
            responsive: "resize",
        },
    );
</script>
{# vim: se ft=htmldjango : #}
