{% component_block "main" %}
{% component_block "panel" id="book-list" %}
<div class="flex col-span-full">
    <h2 class="pr-4 pl-2 mb-2 text-4xl font-bold text-purple-700 border-b-2 border-purple-700">Books</h2>
</div>
<ul class="grid col-span-full gap-2 grid-cols-subgrid">
    {% for book in book_list %}
        <li class="focusable">{% component "book_card" book=book %}</li>
    {% endfor %}
</ul>
{% include "wiki/components/_pagination.html" %}
{% endcomponent_block %}
{% endcomponent_block %}
{# vim: se ft=htmldjango : #}
