{% component_block "main" %}
{% component_block "panel" id="book-detail" %}
{% component_block "panel_header" id="book-header" %}
{% fill "title" %}
<span class="text-black">Book:</span> {{ book.title }}
{% endfill %}
{% fill "subhead" %}
<div class="px-6">
    {% if book.description %}<p class="text-lg text-gray-900">{{ book.description }}</p>{% endif %}
    {% if book.link %}
        <a href="{{ book.link }}"
           class="text-lg text-blue-700 underline hover:text-blue-400"
           target="_blank"
           preload="false"
           hx-boost="false"
           rel="noreferrer noopener">Get the book</a>
    {% endif %}
</div>
{% endfill %}
{% endcomponent_block %}
{# TODO: make this prettier #}
{% if book.pieces.all %}
    {% with piece_list=book.pieces.all showlink=False list_title="Pieces" %}
        {% include "wiki/components/small_lists/_piece_list.html" %}
    {% endwith %}
{% endif %}
{% if book.standaloneexercises.all %}
    {% with piece_list=book.standaloneexercises.all showlink=False list_title="Etudes" %}
        {% include "wiki/components/small_lists/_piece_list.html" %}
    {% endwith %}
{% endif %}
{% endcomponent_block %}
{% endcomponent_block %}
{# vim: se ft=htmldjango : #}
