{% component_block "main" %}
{% component_block "panel" id="composer-detail" %}
{% component_block "panel_header" id="composer-header" %}
{% fill "title" %}
<span class="text-black">Composer:</span> {{ composer.name }}
{% endfill %}
{% endcomponent_block %}
{% with piece_list=composer.pieces.all showlink=False list_title="Pieces" %}
    {% include "wiki/components/small_lists/_piece_list.html" %}
{% endwith %}
{% with piece_list=composer.standaloneexercises.all showlink=False list_title="Etudes" %}
    {% include "wiki/components/small_lists/_piece_list.html" %}
{% endwith %}
{% with showlink=False book_list=composer.books.all %}
    {% include "wiki/components/small_lists/_book_list.html" %}
{% endwith %}
{% endcomponent_block %}
{% endcomponent_block %}
{# vim: se ft=htmldjango: #}
