{% component_block "main" %}
{% component_block "panel" id="composer-list" %}
<div class="flex col-span-full">
    <h2 class="pr-4 pl-2 mb-2 text-4xl font-bold text-purple-700 border-b-2 border-purple-700">All composers</h2>
</div>
<ul class="flex flex-wrap col-span-full gap-2">
    {% for composer in composer_list %}
        {% component "composer_card" composer=composer %}
    {% endfor %}
</ul>
{% include "wiki/components/_pagination.html" %}
{% endcomponent_block %}
{% endcomponent_block %}
{# vim: se ft=htmldjango : #}
