<div class="relative z-10 fade-in fade-out"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true"
     id="exercise-{{ pieceexercise.pk }}-modal">
    <div class="fixed inset-0 bg-blue-200 bg-opacity-75 backdrop-blur-sm fade-in fade-out"></div>
    <div class="overflow-y-auto fixed inset-0 z-10 w-screen font-vollkorn">
        <div class="flex flex-col justify-end items-center p-4 w-full min-h-full text-center sm:justify-center scale-in scale-out">
            <div class="flex overflow-hidden relative flex-col gap-2 p-4 max-w-full text-left bg-white rounded-lg border-2 border-blue-500 shadow-xl transition-all transform sm:my-8 sm:w-full sm:max-w-2xl">
                <header class="flex justify-between pb-1 w-full" id="modal-title">
                    <h3 class="mt-2 text-2xl font-bold leading-6 text-left text-purple-700 border-b-2 border-purple-700"
                        id="modal-title">
                        {% if pieceexercise.nickname %}
                            Prepare: {{ pieceexercise.nickname }}
                        {% else %}
                            Prepare
                        {% endif %}
                    </h3>
                    <a href="{% url 'piece_detail' pieceexercise.piece.pk %}"
                       hx-get="{% url 'piece_detail' pieceexercise.piece.pk %}"
                       hx-swap="delete swap:300ms"
                       hx-target="#exercise-{{ pieceexercise.pk }}-modal"
                       hx-trigger="click"
                       hx-push-url="{% url 'piece_detail' pieceexercise.piece.pk %}"
                       class="flex justify-center items-center -mt-1 -mr-1 text-rose-600 rounded-full hover:bg-rose-200 size-8">
                        <span class="sr-only">Close</span>
                        <span class="size-6 icon-[heroicons--x-circle-solid]" aria-hidden="true"></span>
                    </a>
                </header>
                <p class="-mt-1">{{ pieceexercise.description }}</p>
                {% if pieceexercise.instructions %}
                    <div class="text-lg leading-tight">
                        <h4 class="text-xl font-bold text-black">Instructions</h4>
                        <div class="py-1 text-lg leading-tight space-breaks">{{ pieceexercise.instructions|linebreaks }}</div>
                    </div>
                {% endif %}
                {% if pieceexercise.abc_notation %}
                    {% include "wiki/components/_abcjs_viewer.html" with viewer_id=exercise_notes_id notes=pieceexercise.abc_notation %}
                {% endif %}
                {% if pieceexercise.recording %}
                    <div class="flex flex-col gap-2 justify-start text-xl font-bold text-black sm:flex-row sm:items-center">
                        Listen:
                        <audio controls class="max-w-full">
                            <source src="{{ pieceexercise.recording.file.url }}" type="audio/mpeg" />
                        </audio>
                    </div>
                {% endif %}
                {% if pieceexercise.skills %}
                    <div class="flex flex-col flex-shrink-0 gap-2">
                        <h4 class="text-lg">Skills</h4>
                        <ul class="flex flex-wrap gap-2">
                            {% for skill in pieceexercise.skills.all %}
                                <li class="focusable">{% component "skill_card" skill=skill small=True %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="flex justify-end pt-2 w-full">
                    <a class="flex gap-1 justify-center items-center px-3 h-12 text-xl font-medium text-emerald-900 bg-emerald-200 rounded-lg border-2 border-emerald-500 shadow-sm hover:text-emerald-700 hover:shadow shadow-emerald-400/20 hover:shadow-emerald-400/30 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-500"
                       href="{% url 'piece_detail' pieceexercise.piece.pk %}"
                       hx-get="{% url 'piece_detail' pieceexercise.piece.pk %}"
                       hx-swap="delete swap:300ms"
                       hx-target="#exercise-{{ pieceexercise.pk }}-modal"
                       hx-trigger="click"
                       hx-push-url="{% url 'piece_detail' pieceexercise.piece.pk %}">
                        <span class="-mb-0.5">Done</span>
                        <span class="-mr-1 icon-[heroicons--check-circle-solid] size-6"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{# vim: se ft=htmldjango : #}
