<main
  id="main-content"
  class="w-full flex-1 font-lato container mx-auto px-2 flex flex-col gap-8"
>
  <header class="flex flex-col gap-2" id="piece-header">
    <div class="flex flex-col sm:flex-row gap-4 flex-wrap items-center">
      <div>
        <h2
          class="text-5xl font-bold text-byzantium-500 border-b-2 border-byzantium-500 px-2 font-playfair"
        >
          {{ piece.title }}
        </h2>
      </div>
      <div class="flex flex-wrap gap-4">
        {% if piece.composer %}
        <div class="text-2xl">
          by
          <a
            href="{{ piece.composer.get_absolute_url }}"
            class="italic underline text-azure-700 hover:text-azure-400"
            >{{ piece.composer.name }}</a
          >
        </div>
        {% endif %} {% if piece.book %}
        <div class="text-2xl">
          from
          <a
            href="{{ piece.book.get_absolute_url }}"
            class="italic underline text-azure-700 hover:text-azure-400"
            >{{ piece.book.title }}</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <p class="text-lg text-slate-900">{{ piece.description }}</p>
    {% if piece.recording %}
    <div class="text-2xl text-black font-bold flex gap-2 items-center">
      Listen:
      <audio controls>
        <source src="{{ piece.recording.file.url }}" type="audio/mpeg" />
      </audio>
    </div>
    {% endif %}
    <div class="flex gap-2">
      {% if piece.spotify_link %}
      <a
        href="{{ piece.spotify_link }}"
        target="_blank"
        rel="noopener noreferrer"
        class="rounded text-xl text-white font-bold px-4 py-2 bg-green-600 shadow hover:shadow-lg hover:bg-green-400"
      >
        Listen on Spotify
      </a>
      {% endif %} {% if piece.apple_music_link %}
      <a
        href="{{ piece.apple_music_link }}"
        target="_blank"
        rel="noopener noreferrer"
        class="rounded text-xl text-white font-bold px-4 py-2 bg-rose-600 shadow hover:shadow-lg hover:bg-rose-400"
      >
        Listen on Apple Music
      </a>
      {% endif %}
    </div>
  </header>
  <section id="piece-spots" class="flex flex-col gap-2">
    <h3 class="text-3xl font-bold">Spots</h3>
    <ul class="flex flex-wrap gap-2">
      {% for spot in piece.spots.all %}
      <li>
        <a
          class="block bg-white border-byzantium-200 border rounded p-4 shadow hover:bg-byzantium-100/5 hover:shadow-lg"
          href="{{ spot.get_absolute_url }}"
          >{{ spot.display_name }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </section>
  <section id="piece-practice-notes" class="flex flex-col gap-2">
    <h3 class="text-3xl font-bold">Practicing</h3>
    <p class="text-lg text-slate-900">{{ piece.practice_notes }}</p>
    {% if piece.skills %}
    <div class="flex flex-col gap-2">
      <h4 class="text-xl">Skills</h4>
      <ul class="flex gap-2 flex-wrap">
        {% for skill in piece.skills.all %}
        <li
          class="rounded border border-pink-500 bg-pink-200 shadow-lg hover:border-pink-300 hover:bg-pink-100 hover:text-slate-800"
        >
          <a href="{{ skill.get_absolute_url }}" class="block p-1"
            >{{ skill.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
</main>
