{% load customfilters %}
<main id="main-content" class="flex-1 font-lato px-2 fade-out fade-in">
    <div class="max-w-4xl mx-auto px-4 pt-3 pb-4 shadow rounded grid grid-cols-1 sm:grid-cols-2 gap-8 bg-white">
        <header class="flex flex-col gap-2 col-span-full" id="piece-header">
            <div class="flex flex-col gap-4 flex-wrap items-center justify-center">
                <div>
                    <h2 class="text-5xl font-bold text-purple-700 border-b-2 border-purple-700 px-2 font-playfair">{{ piece.title }}</h2>
                </div>
                <div class="flex flex-wrap gap-4">
                    {% if piece.composer %}
                        <div class="text-2xl">
                            by
                            <a href="{{ piece.composer.get_absolute_url }}"
                               hx-get="{{ piece.composer.get_absolute_url }}"
                               hx-push-url="{{ piece.composer.get_absolute_url }}"
                               hx-target="#main-content"
                               hx-swap="outerHTML swap:300ms"
                               class="italic underline text-blue-700 hover:text-blue-400">{{ piece.composer.name }}</a>
                        </div>
                    {% endif %}
                    {% if piece.book %}
                        <div class="text-2xl">
                            from
                            <a href="{{ piece.book.get_absolute_url }}"
                               hx-get="{{ piece.book.get_absolute_url }}"
                               hx-push-url="{{ piece.book.get_absolute_url }}"
                               hx-target="#main-content"
                               hx-swap="outerHTML swap:300ms"
                               class="italic underline text-blue-700 hover:text-blue-400">{{ piece.book.title }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <section id="about-piece" class="flex flex-col gap-2">
            <div class="flex">
                <h3 class="text-4xl font-bold text-purple-700 border-b-2 border-purple-700 pl-2 pr-4 mb-2 font-playfair">About</h3>
            </div>
            <p class="text-lg text-gray-900">{{ piece.description }}</p>
        </section>
        <section id="piece-recordings" class="flex flex-col gap-2">
            <div class="flex">
                <h3 class="text-4xl font-bold text-purple-700 border-b-2 border-purple-700 pl-2 pr-4 mb-2 font-playfair">Listen</h3>
            </div>
            {% if piece.recording %}
                <div class="text-2xl text-black font-bold flex gap-2 items-center">
                    Listen:
                    <audio controls>
                        <source src="{{ piece.recording.file.url }}" type="audio/mpeg" />
                    </audio>
                </div>
            {% endif %}
            <div class="flex gap-2 flex-wrap">
                {% if piece.spotify_link %}
                    <a href="{{ piece.spotify_link }}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="rounded text-base text-white font-bold px-4 py-2 bg-green-600 shadow hover:shadow-lg hover:bg-green-400">
                        Spotify
                    </a>
                {% endif %}
                {% if piece.apple_music_link %}
                    <a href="{{ piece.apple_music_link }}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="rounded text-base text-white font-bold px-4 py-2 bg-rose-600 shadow hover:shadow-lg hover:bg-rose-400">
                        Apple Music
                    </a>
                {% endif %}
                {% if piece.amazon_music_link %}
                    <a href="{{ piece.amazon_music_link }}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="rounded text-base text-black font-bold px-4 py-2 bg-[#fcd200] shadow hover:shadow-lg hover:bg-yellow-300">
                        Amazon Music
                    </a>
                {% endif %}
            </div>
        </section>
        {% if piece.spots.all %}
            <section id="piece-spots" class="flex flex-col gap-2">
                <div class="flex">
                    <h3 class="text-4xl font-bold text-purple-700 border-b-2 border-purple-700 pl-2 pr-4 mb-2 font-playfair">Spots</h3>
                </div>
                <ul class="flex flex-wrap gap-2">
                    {% for spot in piece.spots|order_by:'order' %}
                        <li>
                            <a class="block border-blue-200 border rounded p-4 shadow bg-blue-100/50 hover:shadow-lg hover:bg-white"
                               href="{{ spot.get_absolute_url }}"
                               hx-get="{{ spot.get_absolute_url }}"
                               hx-push-url="{{ spot.get_absolute_url }}"
                               hx-target="#modal"
                               hx-swap="innerHTML swap:300ms">{{ spot.display_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if piece.exercises.all %}
            <section id="piece-exercises" class="flex flex-col gap-2">
                <div class="flex">
                    <h3 class="text-4xl font-bold text-purple-700 border-b-2 border-purple-700 pl-2 pr-4 mb-2 font-playfair">Exercises</h3>
                </div>
                <ul class="flex flex-wrap gap-2">
                    {% for exercise in piece.exercises.all %}
                        <li>
                            <a class="block border-teal-200 border rounded p-4 shadow bg-teal-100/50 hover:shadow-lg hover:bg-white"
                               href="{{ exercise.get_absolute_url }}"
                               hx-get="{{ exercise.get_absolute_url }}"
                               hx-push-url="{{ exercise.get_absolute_url }}"
                               hx-target="#modal"
                               hx-swap="innerHTML swap:300ms">{{ exercise.display_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if piece.practice_notes %}
            <section id="piece-practice-notes" class="flex flex-col gap-2">
                <div class="flex">
                    <h3 class="text-3xl font-bold text-purple-700 border-b-2 border-purple-700 pl-2 pr-4 mb-2 font-playfair">
                        Notes on Practicing
                    </h3>
                </div>
                <p class="text-lg text-gray-900">{{ piece.practice_notes }}</p>
            </section>
        {% endif %}
        {% if piece.skills %}
            <section class="flex flex-col gap-2">
                <div class="flex">
                    <h3 class="text-3xl font-bold text-purple-700 border-b-2 border-purple-700 pl-2 pr-4 mb-2 font-playfair">
                        Skills Covered
                    </h3>
                </div>
                <ul class="flex gap-2 flex-wrap">
                    {% for skill in piece.skills.all %}
                        <li class="rounded border border-pink-500 bg-pink-200 shadow hover:border-pink-300 hover:bg-pink-100 hover:text-gray-800 hover:shadow-lg">
                            <a href="{{ skill.get_absolute_url }}"
                               hx-get="{{ skill.get_absolute_url }}"
                               hx-push-url="{{ skill.get_absolute_url }}"
                               hx-target="#main-content"
                               hx-swap="outerHTML swap:300ms"
                               class="block p-1">{{ skill.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        <div id="modal"></div>
    </div>
</main>
{# vim: se ft=htmldjango : #}
