{% load customfilters %}
<form class="mx-auto max-w-4xl mt-4 px-4 py-4 shadow gap-2 rounded bg-white flex items-center"
      action="{% url 'search' %}"
      method="post"
      id="search-panel"
      hx-post="{% url 'search' %}"
      hx-trigger="keyup delay:300ms"
      hx-target="#lower-panel"
      hx-swap="outerHTML">
    {% csrf_token %}
    <label for="{{ form.q.id_for_label }}"
           class="flex-0 text-2xl font-bold text-azure-700 font-playfair">{{ form.q.label }}:</label>
    {{ form.q|addclass:"flex-1 rounded border-2 border-azure-500 focus:border-azure-300 focus:ring-2 focus:ring-azure-300 focus:bg-azure-50 focus:outline-none focus:shadow px-2 py-1" }}
    <button type="submit"
            class="px-2 py-1 rounded border border-azure-500 bg-azure-200 shadow hover:shadow-lg hover:border-azure-300 hover:bg-azure-100 text-azure-900 hover:text-azure-700 font-bold">
        <span class="sr-only sm:hidden">Search</span>
        <span class="hidden sm:inline">Search</span>
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-6 h-6 inline">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
    </button>
</form>
{# vim: se ft=htmldjango : #}
