{% load customfilters %}
{% component_block "panel" id="upper-panel" %}
<form class="flex flex-col col-span-full gap-2 items-center px-2 pt-2 pb-1 w-full min-w-0 h-full sm:flex-row"
      action="{% url 'search' %}"
      method="post"
      id="search-panel"
      hx-post="{% url 'search' %}"
      hx-trigger="keyup delay:300ms"
      hx-target="#lower-panel"
      hx-swap="outerHTML">
    {% csrf_token %}
    <label for="{{ form.q.id_for_label }}"
           class="flex-grow-0 text-3xl font-bold text-blue-700">{{ form.q.label }}</label>
    <div class="flex flex-grow gap-2 w-full min-w-0 sm:w-auto">
        {{ form.q|addclass:"flex-1 min-w-0 w-fit rounded-lg border-2 text-xl border-blue-500 focus-visible:outline-offset-1 focus-visible:outline-2 focus-visible:outline focus-visible:outline-blue-500 focus-visible:shadow focus-visible:shadow-blue-400/20 px-2 h-12" }}
        <button type="submit"
                class="flex flex-grow-0 flex-shrink-0 gap-1 items-center px-3 h-12 text-xl font-medium text-blue-900 bg-blue-200 rounded-lg border-2 border-blue-500 shadow-sm hover:text-blue-700 hover:shadow shadow-blue-400/20 hover:shadow-blue-400/30 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500">
            <span class="sr-only sm:hidden">Search</span>
            <span class="hidden -mb-1 sm:block">Search</span>
            <span class="sm:-mr-1 size-6 icon-[heroicons--magnifying-glass-solid]"
                  aria-hidden="true"></span>
        </button>
    </div>
</form>
{% endcomponent_block %}
{# vim: se ft=htmldjango : #}
