{% component_block "main" %}
{% component_block "panel" id="skill-list" %}
<div class="flex flex-col col-span-full p-1">
    <div class="flex">
        <h2 class="pr-4 pl-2 mb-2 text-4xl font-bold text-purple-700 border-b-2 border-purple-700">All Skills</h2>
    </div>
    <ul class="flex flex-wrap gap-2">
        {% for skill in skill_list %}
            <li class="focusable">{% component "skill_card" skill=skill %}</li>
        {% endfor %}
    </ul>
    {% include "wiki/components/_pagination.html" %}
</div>
{% endcomponent_block %}
{% endcomponent_block %}
{# vim: se ft=htmldjango : #}
