<div class="relative z-10 fade-in fade-out"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true"
     x-data="{currentStep: 1}"
     id="spot-{{ spot.pk }}-modal">
    <div class="fixed inset-0 bg-blue-100 backdrop-blur-sm bg-opacity-75 fade-in fade-out"></div>
    <div class="fixed inset-0 z-10 mt-10 w-screen overflow-hidden bg-white max-h-screen shadow-lg border-t-2 border-blue-300 transform transition-all slide-up">
        <div class="h-1/2 relative transform overflow-hidden w-full rounded-lg px-4 sm:px-8 pb-4 pt-5 text-left flex flex-col gap-2 sm:gap-4 md:max-w-5xl md:mx-auto">
            <header class="flex justify-center w-full" id="modal-title">
                <h3 class="text-xl sm:text-2xl font-bold leading-6 text-purple-700 border-b-2 border-purple-700 text-center"
                    id="modal-title">
                    {% if spot.nickname %}
                        Spot: {{ spot.nickname }}
                    {% else %}
                        Spot: {{ spot.order }}
                    {% endif %}
                </h3>
                <a href="{% url 'piece_detail' spot.piece.pk %}"
                   hx-get="{% url 'piece_detail' spot.piece.pk %}"
                   hx-swap="delete swap:300ms"
                   hx-target="#spot-{{ spot.pk }}-modal"
                   hx-trigger="click"
                   hx-push-url="{% url 'piece_detail' spot.piece.pk %}"
                   class="absolute top-0 right-0 m-4 text-rose-500 hover:text-rose-700 hover:bg-rose-50 rounded-xl z-20">
                    <span class="sr-only">Close</span>
                    {% include "wiki/icons/x-mark-circle.html" with class="h-8 w-8" %}
                </a>
            </header>
            <div class="flex flex-col gap-2 sm:gap-4">
                <p class="mt-1">{{ spot.description|linebreaks }}</p>
                {% if spot.measures %}<p class="mt-1">{{ spot.measures }}</p>{% endif %}
                {% if spot.abc_notation %}
                    {% include "wiki/components/_abcjs_viewer.html" with viewer_id=spot_notes_id notes=spot.abc_notation %}
                {% endif %}
                {% if spot.recording %}
                    <div class="text-xl text-black font-bold flex gap-2 justify-start sm:items-center flex-col sm:flex-row">
                        Listen:
                        <audio controls class="max-w-full">
                            <source src="{{ spot.recording.file.url }}" type="audio/mpeg" />
                        </audio>
                    </div>
                {% endif %}
                {% if spot.skills %}
                    <div class="flex gap-2">
                        <h4 class="text-lg">Skills</h4>
                        <ul class="flex gap-2 flex-wrap">
                            {% for skill in spot.skills.all %}
                                <li class="text-sm rounded border border-pink-500 bg-pink-200 shadow-lg hover:border-pink-300 hover:bg-pink-100 hover:text-gray-800">
                                    <a href="{{ skill.get_absolute_url }}" class="block p-0.5">{{ skill.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="relative h-1/2 lg:max-w-5xl lg:mx-auto">
            {% for step in spot.steps.all %}
                <div class="absolute overflow-scroll w-full px-4 text-left flex gap-2 sm:gap-4 h-full"
                     id="step-{{ step.order }}"
                     x-show="currentStep === {{ step.order }}"
                     x-cloak>
                    <div class="h-full justify-center items-center hidden sm:flex">
                        <button class="{% if forloop.first %}text-gray-500 pointer-events-none{% else %}text-blue-500 hover:text-blue-700 hover:bg-blue-50{% endif %} font-bold rounded-xl w-32 flex flex-col justify-center items-center transition-all py-12"
                                {% if forloop.first %}disabled{% endif %}
                                type="button"
                                @click="currentStep--">
                            {% include "wiki/icons/chevron-left.html" with class="h-12 w-12" %}
                            Previous
                        </button>
                    </div>
                    <div class="flex flex-col flex-grow max-w-screen gap-2 sm:gap-4">
                        <header class="flex justify-between w-full" id="modal-title">
                            <h3 class="text-xl font-bold leading-6 text-gray-900 text-center">Step {{ step.order }}</h3>
                        </header>
                        <p class="mt-1">{{ step.instructions|linebreaks }}</p>
                        {% if step.recording %}
                            <div class="text-xl text-black font-bold flex gap-2 justify-start sm:items-center flex-col sm:flex-row">
                                Listen:
                                <audio controls class="max-w-full">
                                    <source src="{{ step.recording.file.url }}" type="audio/mpeg" />
                                </audio>
                            </div>
                        {% endif %}
                        <div class="max-w-full flex-grow">
                            {% if step.abc_notation %}
                                {% include "wiki/components/_abcjs_viewer.html" with viewer_id=step.notes_id notes=step.abc_notation %}
                            {% endif %}
                        </div>
                        <div class="flex sm:hidden justify-between w-full px-2">
                            <button class="{% if forloop.first %}text-gray-500 pointer-events-none{% else %}text-blue-500 hover:text-blue-700 hover:bg-blue-50{% endif %} font-bold rounded-lg flex justify-center items-center transition-all py-2 px-4"
                                    {% if forloop.first %}disabled{% endif %}
                                    type="button"
                                    @click="currentStep--">
                                {% include "wiki/icons/chevron-left.html" with class="h-6 w-6" %}
                                Previous
                            </button>
                            {% if forloop.last %}
                                <a class="flex items-center justify-center text-teal-600 hover:text-teal-800 hover:bg-teal-50 font-bold py-2 px-4 rounded-xl"
                                   href="{% url 'piece_detail' spot.piece.pk %}"
                                   hx-get="{% url 'piece_detail' spot.piece.pk %}"
                                   hx-swap="delete swap:300ms"
                                   hx-target="#spot-{{ spot.pk }}-modal"
                                   hx-trigger="click"
                                   hx-push-url="{% url 'piece_detail' spot.piece.pk %}">
                                    {% include "wiki/icons/check-icon.html" with class="h-6 w-6" %}
                                Done</a>
                            {% else %}
                                <button class="text-blue-500 hover:text-blue-700 hover:bg-blue-50 font-bold rounded-xl flex justify-center items-center transition-all py-2 px-4"
                                        type="button"
                                        @click="currentStep++">
                                    Next
                                    {% include "wiki/icons/chevron-right.html" with class="h-6 w-6" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="h-full hidden sm:flex justify-center items-center">
                        {% if forloop.last %}
                            <a class="flex flex-col items-center justify-center text-teal-600 hover:text-teal-800 hover:bg-teal-50 font-bold py-12 px-4 rounded-xl w-32"
                               href="{% url 'piece_detail' spot.piece.pk %}"
                               hx-get="{% url 'piece_detail' spot.piece.pk %}"
                               hx-swap="delete swap:300ms"
                               hx-target="#spot-{{ spot.pk }}-modal"
                               hx-trigger="click"
                               hx-push-url="{% url 'piece_detail' spot.piece.pk %}">
                                {% include "wiki/icons/check-icon.html" with class="h-12 w-12" %}
                            Done</a>
                        {% else %}
                            <button class="text-blue-500 hover:text-blue-700 hover:bg-blue-50 font-bold rounded-xl w-32 flex flex-col justify-center items-center transition-all py-12"
                                    type="button"
                                    @click="currentStep++">
                                {% include "wiki/icons/chevron-right.html" with class="h-12 w-12" %}
                                Next
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <!-- </div> -->
        </div>
    </div>
</div>
{# vim: se ft=htmldjango : #}
