{% component_block "main" %}
{% component_block "panel" id="etude-detail" %}
{% component_block "panel_header" id="etude-header" %}
{% fill "title" %}
<span class="text-black">Etude:</span> {{ standaloneexercise.title }}
{% endfill %}
{% fill "subhead" %}
{% if standaloneexercise.composer %}
    {% component "composer_card" composer=standaloneexercise.composer %}
{% endif %}
{% if standaloneexercise.book %}
    {% component "book_card" book=standaloneexercise.book icon=False abbreviated=True %}
{% endif %}
{% endfill %}
{% endcomponent_block %}
<div>
    <p class="text-lg text-gray-900">{{ standaloneexercise.description }}</p>
    {% if standaloneexercise.recording %}
        <div class="flex gap-2 items-center text-2xl font-bold text-black">
            Listen:
            <audio controls>
                <source src="{{ standaloneexercise.recording.file.url }}" type="audio/mpeg" />
            </audio>
        </div>
    {% endif %}
</div>
<section id="standaloneexercise-practice-notes" class="flex flex-col gap-2">
    <h3 class="text-3xl font-bold">Practicing</h3>
    <p class="text-lg text-gray-900">{{ standaloneexercise.practice_notes }}</p>
</section>
{% if standaloneexercise.skills %}
    <div class="flex flex-col gap-2">
        <h4 class="text-xl font-medium">Skills</h4>
        <ul class="flex flex-wrap gap-2">
            {% for skill in standaloneexercise.skills.all %}
                <li class="focusable">{% component "skill_card" skill=skill %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endcomponent_block %}
{% endcomponent_block %}
{# vim: se ft=htmldjango : #}
