{% component_block "main" %}
{% component_block "panel" id="etude-list" %}
<div class="flex flex-col p-1">
    <div class="flex">
        <h2 class="pr-4 pl-2 mb-2 text-4xl font-bold text-purple-700 border-b-2 border-purple-700">Etudes</h2>
    </div>
    <ul class="space-y-2">
        {% for piece in standaloneexercise_list %}
            <li class="focusable">{% component "piece_card" piece=piece %}</li>
        {% endfor %}
    </ul>
    {% include "wiki/components/_pagination.html" %}
</div>
{% endcomponent_block %}
{% endcomponent_block %}
{# vim: se ft=htmldjango : #}
