<li
  class="flex border-blue-500 hover:text-blue-900 hover:bg-blue-50 hover:border-blue-600 card shadow-blue-400/20 hover:shadow-blue-400/30 focusable"
>
  <a
    href="{{ piece.get_absolute_url }}"
    class="flex gap-2 items-center p-2 w-full h-full focus:outline-none"
    hx-get="{{ piece.get_absolute_url }}"
    hx-target="#main-content"
    hx-push-url="{{ piece.get_absolute_url }}"
    hx-swap="outerHTML swap:300ms"
  >
    <span class="flex flex-col flex-grow flex-shrink min-w-0">
      <h3 class="text-2xl font-medium truncate">
        {{ piece.title }} {% if piece.book.title %}<span
          class="text-base text-slate-700"
          >- {{ piece.book.title }}</span
        >{% endif %}
      </h3>
      <span class="text-sm italic text-slate-700">
        {% if piece.composer %} {{ piece.composer.name }} {% else %} Unknown
        Composer {% endif %}
      </span>
      <p class="text-sm">{{ piece.description }}</p>
    </span>
    <span
      class="block flex-shrink-0 mr-2 text-blue-700 icon-[mdi--file-music-outline] size-12"
      aria-hidden="true"
    ></span>
  </a>
</li>
