{% extends "base_external.html" %}
{% load static %}
{% block og %}
    {% if pieceexercise.nickname %}
        {% include "snippets/_og.html" with title=pieceexercise.nickname description=piece.description custom_image=True %}
    {% else %}
        {% include "snippets/_og.html" with title="Exercise for "|add:pieceexercise.piece.title description=piece.description custom_image=True %}
    {% endif %}
{% endblock og %}
{% block description %}
    Practice Exercise
    {% if pieceexercise.nickname %}“{{ pieceexercise.nickname }}”{% endif %}
    for {{ pieceexercise.piece.title }}.
{% endblock description %}
{% block content %}
    <script src="{% static 'abcjs-basic-min.js' %}"></script>
    {% include "wiki/components/_pieceexercise_detail.html" %}
    {% include "wiki/components/_piece_detail.html" %}
{% endblock content %}
{# vim: se ft=htmldjango : #}
