{% extends "base_external.html" %}
{% load static customfilters %}
{% block og %}
    {% if spot.nickname %}
        {% include "snippets/_og.html" with title="Spot: "|add:spot.nickname|add:" | "|add:spot.piece.title description=spot.description custom_image=True %}
    {% else %}
        {% include "snippets/_og.html" with title="Spot: "|add:spot.order|add:" | "|add:spot.piece.title description=spot.description custom_image=True %}
    {% endif %}
{% endblock og %}
{% block description %}
    Practice guide for spot
    {% if spot.nickname %}
        {{ spot.nickname }}
    {% else %}
        {{ spot.order }}
    {% endif %}
    in {{ spot.piece.title }}
    {% if spot.piece.composer %}by {{ spot.piece.composer.name }}{% endif %}
    from
    {% if spot.piece.book %}{{ spot.piece.book.title }}{% endif %}
{% endblock description %}
{% block content %}
    <script src="{% static 'abcjs-basic-min.js' %}"></script>
    {% include "wiki/components/_spot_modal.html" %}
    {% include "wiki/components/_piece_detail.html" %}
{% endblock content %}
{# vim: se ft=htmldjango : #}
