@tailwind base;
@tailwind components;
@tailwind utilities;

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("/static/fonts/lato-v24-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("/static/fonts/lato-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/playfair-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair";
  font-style: italic;
  font-weight: 400;
  src: url("/static/fonts/playfair-v2-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair";
  font-style: normal;
  font-weight: 600;
  src: url("/static/fonts/playfair-v2-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/playfair-v2-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair";
  font-style: normal;
  font-weight: 800;
  src: url("/static/fonts/playfair-v2-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-playfair {
  font-family: "Playfair", serif;
}

.fade-out.htmx-swapping {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.fade-in.htmx-added {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

body {
	overscroll-behavior: none;
  scrollbar-gutter: auto | stable && both-edges?;
}

.scale-in {
  @apply opacity-0 duration-300 ease-out translate-y-4;
}

.scale-out {
  @apply ease-in duration-200 opacity-100 translate-y-0;
}

.htmx-added .scale-in {
  @apply opacity-100 translate-y-0;
}

.scale-out.htmx-swapping {
  @apply opacity-0 translate-y-4;
}

.slide-up {
  @apply opacity-100 translate-y-0
}

.htmx-added .slide-up {
  @apply opacity-0 translate-y-full;
  transition: all 200ms ease-out;
}

.htmx-swapping .slide-up {
  @apply opacity-0 translate-y-full;
  transition: all 200ms ease-in;
}

.slide-out-left,
.slide-out-right {
  @apply opacity-100 translate-x-0;
}

.slide-in-left {
  @apply -translate-x-full opacity-0;
}

.slide-in-right {
  @apply translate-x-full opacity-0;
}

.slide-in-left .sliding {
  @apply translate-x-0 opacity-100;
  transition: all 200ms ease-out;
}

.slide-in-right .sliding {
  @apply translate-x-0 opacity-100;
  transition: all 200ms ease-out;
}

.slide-out-left .sliding {
  @apply translate-x-full opacity-0;
  transition: all 200ms ease-in;
}

.slide-out-left .sliding {
  @apply -translate-x-full opacity-0;
  transition: all 200ms ease-in;
}

/* Hero pattern texture  fill is sky-400 */
.body-background {
  @apply bg-gray-50;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2338bdf8' fill-opacity='0.08' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


@media screen(sm) {
  .scale-in {
    @apply opacity-0 duration-300 ease-out translate-y-0 scale-95;
  }

  .scale-out {
    @apply ease-in duration-200 opacity-100 translate-y-0 scale-100;
  }

  .htmx-added .scale-in {
    @apply opacity-100 translate-y-0 scale-100;
  }

  .scale-out.htmx-swapping {
    @apply opacity-0 translate-y-0 scale-95;
  }
}
