<div class="flex flex-col p-1">
    <div class="flex">
        <h2 class="text-4xl font-bold text-purple-700 border-b-2 border-purple-700 pl-2 pr-4 mb-2 font-playfair">Books</h2>
    </div>
    <ul class="space-y-2" preload>
        {% for book in book_list %}
            <li class="rounded border border-emerald-500 bg-emerald-200 shadow-lg hover:border-emerald-300 hover:bg-emerald-100 hover:text-gray-800">
                <a href="{{ book.get_absolute_url }}"
                   hx-get="{{ book.get_absolute_url }}"
                   hx-push-url="{{ book.get_absolute_url }}"
                   hx-target="#main-content"
                   hx-swap="outerHTML swap:300ms"
                   class="flex flex-col p-2">
                    <h3 class="text-xl font-bold">
                        <span class="underline">{{ book.title }}</span> - {{ book.composer.name }}
                    </h3>
                    <p class="text-sm">{{ book.description }}</p>
                </a>
            </li>
        {% endfor %}
        {% if showlink %}
            <li class="rounded border border-gray-500 bg-gray-200 shadow hover:border-gray-300 hover:bg-gray-100 hover:text-gray-800 hover:shadow-lg">
                <a href="{% url 'book_list' %}"
                   hx-get="{% url 'book_list' %}"
                   hx-push-url="{% url 'book_list' %}"
                   hx-target="#main-content"
                   hx-swap="outerHTML swap:300ms"
                   class="flex flex-col p-2">
                    <h3 class="text-lg italic">View All Books…</h3>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{# vim: se ft=htmldjango : #}
