<div class="flex flex-col p-1">
    <div class="flex">
        <h2 class="pr-4 pl-2 mb-2 text-4xl font-bold text-purple-700 border-b-2 border-purple-700 font-playfair">Books</h2>
    </div>
    <ul class="flex flex-col gap-2" preload>
        {% for book in book_list %}
            {% include "wiki/components/cards/_book_card.html" %}
        {% endfor %}
        {% if showlink %}
            <li class="flex items-center hover:text-black card border-slate-500 hover:border-slate-600 hover:bg-slate-100 focusable">
                <a href="{% url 'book_list' %}"
                   hx-get="{% url 'book_list' %}"
                   hx-push-url="{% url 'book_list' %}"
                   hx-target="#main-content"
                   hx-swap="outerHTML swap:300ms"
                   class="p-2 pb-3 pl-3 -mb-1 w-full h-full text-lg font-medium focus:outline-none">View All Books…</a>
            </li>
        {% endif %}
    </ul>
</div>
{# vim: se ft=htmldjango : #}
