{% load static %}
<main class="py-10 lg:pl-[19rem] px-4 min-h-full" id="main-content">
    <script id="passkey-data"
            data-start-registration-endpoint="{% url 'start_passkey_registration' %}"
            data-finish-registration-endpoint="{% url 'finish_passkey_registration' %}"></script>
    <div class="overflow-hidden bg-earth-200/20 border-2 border-smoky shadow">
        <div class="px-4 py-6 sm:px-6">
            <h3 class="text-4xl teko tracking-wide text-smoky font-bold">User Profile</h3>
        </div>
        <div class="border-t border-smoky/80">
            <dl class="divide-y divide-smoky/50">
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-smoky/80">Name</dt>
                    <dt class="mt-1 text-sm font-semibold text-smoky sm:col-span-2 sm:mt-0">
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    </dt>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-smoky/80">Username</dt>
                    <dt class="mt-1 text-sm font-semibold text-smoky sm:col-span-2 sm:mt-0">{{ request.user.username }}</dt>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-smoky/80">Email</dt>
                    <dt class="mt-1 text-sm font-semibold text-smoky sm:col-span-2 sm:mt-0">{{ request.user.email }}</dt>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-smoky/80">Password</dt>
                    <dt class="mt-1 text-sm font-semibold text-smoky sm:col-span-2 sm:mt-0 py-2">
                        <a href="{% url 'password_reset' %}"
                           class="ml-2 bg-earth-200 px-2 py-1 text-xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">
                            Reset Your Password
                        </a>
                    </dt>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-smoky/80">Passkey</dt>
                    <dt class="mt-1 text-sm font-semibold text-smoky sm:col-span-2 sm:mt-0 py-2">
                        <button type="button"
                                x-data
                                @click="startRegistration()"
                                class="ml-2 bg-jade-500 px-2 py-1 text-xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">
                            Register Device
                        </button>
                    </dt>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-semibold text-smoky/80">Logout</dt>
                    <dt class="mt-1 text-sm font-semibold text-smoky sm:col-span-2 sm:mt-0 py-2">
                        <a href="{% url 'logout' %}"
                           class="ml-2 bg-tomato-500 px-2 py-1 text-xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">
                            Logout
                        </a>
                    </dt>
                </div>
            </dl>
        </div>
    </div>
</main>
