{% extends "base_external.html" %}
{% block content %}
    <main id="main-content"
          class="w-full bg-earth-200 py-40 border-b-4 border-smoky">
        <div id="hero"
             class="mx-auto px-4 max-w-xl py-20 sm:py-44 lg:py-48 xl:py-72 container">
            <div class="flex flex-col w-full" action="" method="post">
                <h1 class="mt-10 text-4xl sm:text-6xl text-center font-bold teko leading-tight text-neutral-800">Logged out</h1>
                <div class="flex justify-center">
                    <a href="{% url 'login' %}"
                       class="bg-jade-500 px-5 py-2 text-2xl font-semibold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">Log
                    in again.</a>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
