{% extends "base_external.html" %}
{% load customfilters %}
{% load static %}
{% block content %}
    <script id="passkey-data"
            data-start-login-endpoint="{% url 'start_passkey_login' %}"
            data-username-id="{{ form.username.id_for_label }}"
            data-finish-login-endpoint="{% url 'finish_passkey_login' %}"
            data-redirect-to="{% url 'goal_list' %}"></script>
    <main id="main-content"
          class="w-full bg-earth-200 py-40 border-b-4 border-smoky">
        <div id="hero"
             class="mx-auto px-4 max-w-xl py-20 sm:py-44 lg:py-48 xl:py-72 container">
            <form class="flex flex-col w-full"
                  action=""
                  method="post"
                  x-data="{usePassword: false}">
                {% csrf_token %}
                <h1 class="mt-10 text-4xl sm:text-6xl text-center font-bold teko leading-tight text-neutral-800">Login</h1>
                <div class="text-tomato-500 text-sm">{{ form.non_field_errors }}</div>
                <div class="my-1 flex flex-col">
                    <div class="text-tomato-500 text-sm">{{ form.username.errors }}</div>
                    <label for="{{ field.id_for_label }}" class="teko font-bold text-2xl">{{ form.username.label }}</label>
                    {{ form.username|addclass:"form-control" }}
                    {% if form.username.help_text %}
                        <div class="text-sm montserrat text-neutral-700">{{ form.username.help_text }}</div>
                    {% endif %}
                </div>
                <div class="my-1 flex flex-col" x-cloak x-show="usePassword == true">
                    <div class="text-tomato-500 text-sm">{{ form.password.errors }}</div>
                    <label for="{{ field.id_for_label }}" class="teko font-bold text-2xl">{{ form.password.label }}</label>
                    {{ form.password|addclass:"form-control" }}
                    {% if form.password.help_text %}
                        <div class="text-sm montserrat text-neutral-700">{{ form.password.help_text }}</div>
                    {% endif %}
                </div>
                <!-- TODO: do some hiding and showing with css for disabled javascript and just use forms (maybe?) -->
                <div class="my-1 flex flex-col justify-between"
                     x-cloak
                     x-show="!usePassword">
                    <h3 class="text-xl font-bold text-smoky my-2">Login with...</h3>
                    <div class="flex max-w-full space-x-2">
                        <button type="button"
                                @click="usePassword = true"
                                class="flex-1 flex items-center bg-tomato-500 px-4 py-2 text-lg sm:text-2xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="2"
                                 stroke="currentColor"
                                 class="w-6 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
                            </svg>
                            Password
                        </button>
                        <button type="button"
                                @click="startLogin()"
                                class="flex-1 flex items-center space-x-2 bg-jade-500 px-4 py-2 text-xl sm:text-2xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="2"
                                 stroke="currentColor"
                                 class="w-6 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                            </svg>
                            Passkey
                        </button>
                    </div>
                </div>
                <div class="flex mt-2 justify-between space-x-2 w-full items-end"
                     x-show="usePassword">
                    <div>
                        <a href="{% url 'password_reset' %}"
                           class="text-lg font-semibold leading-6 text-smoky flex items-center montserrat underline hover:underline-offset-2 hover:decoration-2">Forgot
                        your password?</a>
                    </div>
                    <div class="flex flex-row-reverse justify-start">
                        <button type="submit"
                                class="ml-2 bg-jade-500 px-4 py-2 text-2xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">
                            Submit
                        </button>
                        <button type="reset"
                                class="ml-2 bg-tomato-500 px-4 py-2 text-2xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky">
                            Clear
                        </button>
                    </div>
                </div>
            </form>
            <div class="mt-2">
                <a href="{% url 'register' %}"
                   class="text-lg font-semibold leading-6 text-smoky flex items-center montserrat underline hover:underline-offset-2 hover:decoration-2">Don't have an account? Register instead</a>
            </div>
        </div>
    </main>
{% endblock content %}
