{% extends "base_external.html" %}
{% block body_class %}h-screen{% endblock %}
{% block content %}
    {% component_block "main" %}
    {% component_block "panel" id="not-found" %}
    {% component_block "panel_header" id="not-found-header" %}
    Page not Found
{% endcomponent_block %}
<div class="flex flex-col col-span-full gap-4 justify-center items-center py-12 px-6 mx-auto max-w-6xl text-center">
    <p class="text-2xl text-gray-900">Could not find matching page</p>
    <a href="{% url 'index' %}"
       hx-get="{% url 'index' %}"
       hx-push-url="{% url 'index' %}"
       hx-target="#main-content"
       hx-swap="outerHTML swap:300ms"
       preload
       class="text-xl text-blue-700 underline hover:text-blue-400">Back Home</a>
</div>
{% endcomponent_block %}
{% endcomponent_block %}
{% endblock content %}
