{% extends "base_external.html" %}
{% block content %}
    <main id="main-content"
          class="flex-1 px-4 w-full font-vollkorn fade-in fade-out"
          preload>
        <div class="container grid grid-cols-1 gap-2 px-4 pt-5 pb-4 mx-auto mt-4 max-w-6xl rounded-lg border-2 border-blue-200 shadow md:grid-cols-2 font-vollkorn shadow-blue-400/20 bg-slate-50"
             id="not-found">
            <header class="flex flex-col col-span-full gap-2" id="{{ id }}">
                <div class="flex flex-col flex-wrap gap-4 justify-center items-center">
                    <div>
                        <h2 class="px-2 text-5xl font-bold text-purple-700 border-b-2 border-purple-700">Page Not Found</h2>
                    </div>
                </div>
            </header>
            <div class="flex flex-wrap col-span-full gap-4 justify-center items-center">
                <a href="/"
                   preload
                   class="flex items-center px-3 h-10 text-center border-purple-500 sm:-ml-8 hover:text-purple-900 hover:bg-purple-50 hover:border-purple-600 focus:outline-none shadow-purple-400/20 card hover:shadow-purple-400/30"
                   hx-get="/"
                   hx-push-url="/"
                   hx-target="#main-content"
                   hx-swap="outerHTML swap:300ms">Back Home</a>
                <p class="text-xl">Sorry, the page you requested does not exist.</p>
            </div>
        </div>
    </main>
{% endblock content %}
