{% load static customfilters %}
<!DOCTYPE html>
{# TODO: reuse description in opengraph tags #}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% linebreakless %}{% block description %}My Personal Violin Teaching Wiki with detailed practicing guides for all the music that I teach.{% endblock description %}{% endlinebreakless %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {# OPENGRAPH  TAGS #}
        {% block og %}
            {% include "snippets/_og.html" with title="Violin Teaching Wiki" description="My Personal Violin Teaching Wiki with detailed practicing guides for all the music that I teach." custom_image=False %}
        {% endblock og %}
        {# SCRIPT TAGS #}
        <script src="{% static 'alpine.js' %}" defer></script>
        <script src="{% static 'htmx.min.js' %}" defer></script>
        <script src="{% static 'preload.min.js' %}" defer></script>
        <script src="{% static 'abcjs-basic-min.js' %}" defer></script>
        {# ICONS #}
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'icons/favicon-16x16.png' %}">
        <link rel="icon" href="{% static 'icons/favicon.ico' %}">
        <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
        {% block head %}
        {% endblock head %}
        <style>
            [x-cloak] {
                display: none;
            }
        </style>
    </head>
    <body class="{% block body_class %}{% endblock body_class %} h-full min-h-screen flex flex-col body-background max-w-screen"
          hx-ext="preload">
        <a tabindex="0"
           href="#main-content"
           role="button"
           class="inline-flex absolute top-0 left-0 z-20 items-center py-2 px-4 mt-2 ml-2 text-base font-medium text-white bg-gray-800 rounded-md border border-transparent ring-offset-blue-200 opacity-100 transition duration-200 ease-out -translate-y-14 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:translate-y-0 focus:outline-none z-200">
            Skip to Content
        </a>
        {% block layout %}
        {% endblock layout %}
        {% block script %}
        {% endblock script %}
    </body>
</html>
