{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Easy to use time-based goal tracking. Keep track of the things you're working on with stop watches and timers in an easy-to-use interface on the web.">
        <title>Rick's Violin Teaching Wiki</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>
        <script src="{% static 'htmx.min.js' %}" defer></script>
        <script src="{% static 'abcjs-basic-min.js' %}" defer></script>
        {% block head %}
        {% endblock head %}
        <style>
            [x-cloak] {
                display: none;
            }
        </style>
    </head>
    <body class="{% block body_class %}{% endblock body_class %} h-full min-h-screen flex flex-col bg-whitesmoke/50">
        <a tabindex="0"
           href="#main-content"
           role="button"
           class="z-20 absolute opacity-100 top-0 left-0 ml-2 mt-2 -translate-y-14 transition duration-200 ease-out focus:translate-y-0 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-neutral-800 focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-violet-900 focus:ring-white z-200">
            Skip to Content
        </a>
        {% block layout %}
        {% endblock layout %}
        {% block script %}
        {% endblock script %}
    </body>
</html>
